.font {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;         /* bold */
    font-size: 28px;  
}   

.white {
    color: whitesmoke;
}

.navBar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #18191A;
}

.navEle {
    font-size: x-large;
}